mat-form-field{
  margin: 5px auto; /* Centrar horizontalmente */
  text-align: center;
  margin-left: 14%;
  width: 72%;
  justify-content: center; /* Centrar horizontalmente el contenido */
  align-items: center;
  }


  .titulo{
  text-align: center;
  margin:25px;
  font-size: 2em;
  color: purple;
  font-family: 'Times New Roman', Times, serif;
  }

  .btnGuardar{
  width: 72%;
  border: 2px solid purple;
  text-align: center;
  font-size: 16px;
  margin: 3% auto; /* Margen vertical del 5% y centrado horizontal */
  display: block; 
  border-radius: 20px;
  }
  .btnGuardar:hover {
    background-color: purple;
    color: white;
  }
  

 