body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  .footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    bottom: 0;
    width: 100%;
  }
  .social-icons {
    margin-top: 10px;
  }
  
  .social-icons a {
    color: white;
    font-size: 20px;
    margin: 0 10px;
    text-decoration: none;
  }
  
  .social-icons a:hover {
    color: #29b6f6; /* Cambia de color al pasar el cursor */
  }