<button mat-button color="primary" class="btnAgregar" (click)="abrirDialog()">
  Agregar
</button>

<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input />
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- ID Column -->
  <ng-container matColumnDef="cedula">
    <th mat-header-cell *matHeaderCellDef>Cedula</th>
    <td mat-cell *matCellDef="let element">{{ element.cedula }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef>Nombre</th>
    <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
  </ng-container>

  <!-- Lastname1 Column -->
  <ng-container matColumnDef="apellido1">
    <th mat-header-cell *matHeaderCellDef>Apellido 1</th>
    <td mat-cell *matCellDef="let element">{{ element.apellido1 }}</td>
  </ng-container>

  <!-- Latsname2 Column -->
  <ng-container matColumnDef="apellido2">
    <th mat-header-cell *matHeaderCellDef>Apellido 2</th>
    <td mat-cell *matCellDef="let element">{{ element.apellido2 }}</td>
  </ng-container>

  <!-- Rol Column -->
  <ng-container matColumnDef="rol">
    <th mat-header-cell *matHeaderCellDef>Rol</th>
    <td mat-cell *matCellDef="let element">{{ element.rol }}</td>
  </ng-container>

  <!-- ACCIONS Column -->
  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef>Acciones</th>
    <td mat-cell *matCellDef="let element">
      <button class="btnAccion"mat-button color="accent" (click)="abrirDialog(element)">
        Modificar
      </button>
      <button class="btnAccion" mat-button color="warn" (click)="eliminar(element.cedula)">
        Eliminar
      </button>
      <button class="btnAccion" mat-button (click)="detalle(element)">Detalle</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">
      No data matching the filter "{{ input.value }}"
    </td>
  </tr>
</table>
